body {
  background-image: url('../assets/bg-wood.jpg');
  background-repeat: repeat;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-items: center;
}

#title, #finished-game, #title-result {
  text-align: center;
  color:#836518;
  text-shadow: #381f01 1px 1px;
  margin-bottom: 50px;
}

#title-result {
  position: absolute;
  top: 130px;
  left: 30px;
}

#title-result p{
  display: block;
}

#finished-game img {
  position: absolute;
  top: 130px;
  right: 30px;
  width: 200px;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.row {
  display: flex;
  justify-content: center;
}
.peg {
  width: 40px;
  height: 40px;
  margin: 4px 8px;
  background-color: rgb(211, 74, 61);
  box-shadow: inset 10px 5px 20px rgb(92, 8, 0);
  border-radius: 50%;
  cursor: pointer;
}
.empty {
  background-color: #a17e24;
  box-shadow: inset -1px -1px 1px #3b2a00;
}
a#btn-solution {
  font-size: 20px;
  text-decoration: none;
  display: none;
  border-radius: 30px;
  padding: 20px 50px 23px;
  min-width: 40px;
  height: 20px;
  color: rgb(217, 199, 164);
  border: 2px solid #725711;
  background-color:#836518;
  box-shadow:rgb(78, 39, 0) -1px -1px 2px;
  pointer-events: all;
  cursor: pointer;
}
a#btn-solution.show {
  display: inline-flex;
}
a#btn-solution.processing {
  background-color:#a18743;
}
